/* je commence par calibrer ma page pour éviter tout comportement indésirable */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}


#container {
    background: rgb(240, 212, 27);
}


header {
    width: 1600px;
    margin: auto;  /* propriété placée dans l'élément qu'on veut centrer, et non dans le contenant */ 
}



h2 {  /* on transforme notre boite h2 en flexbox et du coup, on peut aligner facilement le contenu grâce aux propriétés flexbox */
    display: flex;
    background: rgb(14, 123, 181);
    height: 60px;
    justify-content: center;
    align-items: center;
    color: rgb(224, 224, 224);
    font-size: 34px;
    font-style: italic;
}  /* pas d'excès de div, les balises classiques deviennent des flex box facilement ! */


#image-bandeau {
    height: 600px;
    width: 100%;
}


#image-bandeau img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


nav {
    display: flex;
    flex-direction: row;
    background: rgb(14, 123, 181);
    justify-content: center;
    align-items: center;
    height: 80px;
}


nav a {
    color: rgb(224, 224, 224);
    margin: 12px;
    text-decoration: none;
}


main {
    width: 1600px;
    margin: auto;  /* propriété placée dans l'élément qu'on veut centrer, et non dans le contenant */
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


h1 {
    color: rgb(240, 212, 27);
    font-size: 34px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 80px;
    margin-left: 20px;
    width: 100%;
}


article {
    width: 60%;
    margin: 20px;
}


article p {
    width: 100%;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: justify;
}


.serie-image {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
   
}


.serie-image img {
    width: 32%;
    border: 1px solid black;

}


aside {
    width: 30%;
    margin: 20px;
    background: rgb(14, 123, 181);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


figure img {
    margin-top: 20px;
    border: 1px solid white;
    width: 300px;
}


aside h3 {
    color: rgb(224, 224, 224);
    font-size: 28px;
}


aside h4 {
    color: rgb(224, 224, 224);
    font-size: 18px;
    font-style: italic;
}


aside p {
    color: rgb(224, 224, 224);
    font-size: 22px;
    text-align: justify;
    margin: 25px 15px 25px 15px;
}


footer {
    display: flex;
    flex-direction: row;
    background: rgb(8, 69, 154);
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 1600px;
    margin: auto;
}


footer p {
    color: rgb(224, 224, 224);
    font-size: 22px;
}